[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
isort = "*"
flake8 = "*"
pylint-django = "*"

[packages]
django = "*"
python-telegram-bot = "*"
pysocks = "*"
django-telegrambot = {git = 'https://github.com/GoddessEyes/django-telegrambot.git'}


[requires]
python_version = "3.8"
